---
- name: Main Web Playbook
  hosts: all
  become: true
  gather_facts: true
  vars:
    vagrant_version: "2.4.1"

  pre_tasks:

  roles:
    - update_apt_packages
    - ansible_node
    - ansible_tools
    - useful_tools
    - gothick.awscli
    - gothick.ghostty
    - basicbind.swap_file.swap_file

  tasks:

- name: Create Ansible user
  import_playbook: playbooks/create_ansible_user/main.yml
  when: is_vagrant|default(false)

- name: Web Users
  import_playbook: playbooks/web_users/main.yml

- name: Secure sshd to some degree
  import_playbook: playbooks/secure_sshd/main.yml

- name: Configure postfix
  import_playbook: playbooks/web_mail/main.yml

- name: Install EC2 snapshot script
  import_playbook: playbooks/install_ec2_snapshot_script/main.yml

# Incremental backup to replace earlier S3 backup scripts
- name: Set up duplicity/backupninja backups
  import_playbook: playbooks/web_backups/main.yml

- name: Install and configure basic Apache
  import_playbook: playbooks/web_apache/main.yml

- name: Install and configure PHP-FPM
  import_playbook: playbooks/web_php/main.yml

- name: Configure all websites
  import_playbook: playbooks/web_websites/main.yml

- name: Set up webdav
  import_playbook: playbooks/web_webdav/main.yml

- name: Install and configure beanstalkd
  import_playbook: playbooks/beanstalkd/main.yml

- name: Install and configure Node, etc.
  import_playbook: playbooks/web_node_etc/main.yml

- name: Install and configure Elasticsearch
  import_playbook: playbooks/elasticsearch/main.yml

- name: Install and configure Supervisor
  import_playbook: playbooks/supervisor/main.yml

- name: Add admin cron jobs for web servers
  import_playbook: playbooks/web_cron_jobs/main.yml

- name: Install and configure MySQL
  import_playbook: playbooks/mysql/main.yml

- name: Install tools that only OMM uses
  import_playbook: playbooks/omm_tools/main.yml

- name: Install and configure Redis
  import_playbook: playbooks/redis/main.yml

- name: Install and configure OpenVPN
  import_playbook: playbooks/openvpn/main.yml

- name: Install CloudWatch Agent
  import_playbook: playbooks/cloudwatch/main.yml

- name: Configure unattended upgrades
  import_playbook: playbooks/unattended_upgrades/main.yml

#
# This should be the last import in the playbook
#
- name: Notify done
  import_playbook: playbooks/notify_done/main.yml
