<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Gothick.org.uk default site status page</title>
        <meta charset='utf-8'>
        <style>
        </style>
        <script>
        </script>
    </head>
    <body>
        <h1>Status Page</h1>
        <p>Hi. This is the default website on gothick.org.uk.</p>
        <p>Here's my php info:</p>
        <?php phpinfo(); ?>
    </body>
</html>