# Hi!
#
# Please note that while I do have a security hall of fame, this
# website is run by me alone in my spare time and doesn't make any
# profit. I therefore don't pay bounties, and may take a long time
# to respond. Sorry!
#
# Matt
#
Contact: {{ security_email }}
Policy: https://gothick.org.uk/security-policy/
Preferred-Languages: en
Acknowledgments: https://gothick.org.uk/security-hall-of-fame/
