<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Gothick.org.uk default site</title>
        <meta charset='utf-8'>
        <style>
        </style>
        <script>
        </script>
    </head>
    <body>
        <h1>Default site</h1>
        <p>Hi. This is the default website on gothick.org.uk. There's no great
        reason for anyone to be here. Were you maybe looking for
        <a href="https://gothick.org.uk/">my blog</a>, or something?</p>
    </body>
</html>