{{ ansible_managed | comment }}
<VirtualHost *:80>
	# The ServerName directive sets the request scheme, hostname and port that
	# the server uses to identify itself. This is used when creating
	# redirection URLs. In the context of virtual hosts, the ServerName
	# specifies what hostname must appear in the request's Host: header to
	# match this virtual host. For the default virtual host (this file) this
	# value is not decisive as it is used as a last resort host regardless.
	# However, you must set it for any further virtual host explicitly.
	ServerName {{ dev_server_name }}

	{% if dev_server_aliases is defined %}
	ServerAlias {{ dev_server_aliases | join(' ') }}
	{% endif %}

	ServerAdmin {{ admin_email }}

	# We manage our well_known directories somewhat globally. It's useful if
	# they're stored outside the main document root. For example, if I want
	# to generate an acme challenge file, I can do so without worrying about
	# whether a file lying around created by root or some other privileged
	# user will prevent e.g. a capistrano-style deployment by the web app
	# owner from working, as it won't be sitting under the main document
	# root.
	Alias "/.well-known" "{{ well_known_dir }}/{{ dev_server_name }}"

	<Directory "{{ well_known_dir }}">
		Options -Indexes +FollowSymLinks +MultiViews
		AllowOverride All
		Require all granted
	</Directory>

	DocumentRoot {{ dev_site_path }}


	# Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
	# error, crit, alert, emerg.
	# It is also possible to configure the loglevel for particular
	# modules, e.g.
	#LogLevel info ssl:warn

	ErrorLog ${APACHE_LOG_DIR}/dev-error.log
	CustomLog ${APACHE_LOG_DIR}/dev-access.log combined

	# For most configuration files from conf-available/, which are
	# enabled or disabled at a global level, it is possible to
	# include a line for only one particular virtual host. For example the
	# following line enables the CGI configuration for this host only
	# after it has been globally disabled with "a2disconf".
	#Include conf-available/serve-cgi-bin.conf
</VirtualHost>
