#jinja2: lstrip_blocks:True
{{ ansible_managed | comment }}
<VirtualHost *:80>
	ServerName {{ site.server_name }}

	{% if site.aliases is defined %}
	ServerAlias {{ site.aliases | join(' ') }}
	{% endif %}

	ServerAdmin {{ admin_email }}

	# This is the insecure version of a site we're serving securely. Rewrite everything
  	# to the secure version instead.
	# When HTTP_HOST is definitely one of ours, redirect to HTTPS
	RewriteEngine On
	{% set safenames = [ site.server_name ] + (site.aliases | default([])) %}
	{% for safename in safenames %}
	RewriteCond "%{HTTP_HOST}" "={{ safename }}" {% if loop.last %} [NC] {% else %} [NC,OR] {% endif %}
	{% endfor %}
	RewriteCond %{HTTPS} !=on
	RewriteRule ^/?(.*) https://%{HTTP_HOST}/$1 [R,L]

	# If HTTP_HOST *isn't* one of ours, then (a) this must be the default site, as the
	# others wouldn't have matched, and (b) we should redirect to the https version of
	# the default site as a sane default.
	RewriteEngine On
	RewriteCond %{HTTPS} !=on
	RewriteRule ^/?(.*) https://{{ site.server_name }} [R,L,QSD]
</VirtualHost>


