{{ ansible_managed | comment('xml') }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ dev_server_name }}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>This is the dev site at {{ dev_server_name }}</h1>
    <p>There is nothing to see here. Move along.</p>
  </body>
</html>