#jinja2:lstrip_blocks: True
# Credentials for the awscli tool
{% for key, value in awscli_config_ids.items() %}
[{{ key }}]
aws_access_key_id={{ value.aws_access_key_id }}
aws_secret_access_key={{ value.aws_secret_access_key }}
{% endfor %}
