#! /bin/sh
{{ ansible_managed | comment }}
while true; do
    read -p "Are you sure you want to extract recovery backups to {{ item.target_dir }} (y/n)? " yn
    case $yn in
        [Yy]* ) tar --checkpoint=.1000 -C / -xzf {{ item.recovery_dir }}/{{ item.tarball }} {{ item.target_dir }}; break;;
        [Nn]* ) exit;;
        * ) echo "Please answer yes or no.";;
    esac
done
